# House Prices competition on Kaggle
- https://www.kaggle.com/c/house-prices-advanced-regression-techniques
- N.B. Evaluation is on RMSE of *logarithm* of prices

In [1]:
from IPython.display import display

In [2]:
import pandas
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import numpy

In [3]:
#import xgboost

In [4]:
import sklearn
import sklearn.model_selection
import sklearn.linear_model
import sklearn.preprocessing
import sklearn.ensemble
import sklearn.svm

## Loading

In [5]:
train_raw = pandas.read_csv("train.csv")
test_raw  = pandas.read_csv("test.csv")

In [6]:
# Any columns of type 'object' should be categories.
# Also, per data_description.txt, MSSubClass is categorical, not numerical.
category_cols = [n for n,t in train_raw.dtypes.iteritems() if t == object] + ["MSSubClass"]
for c in category_cols:
    train_raw[c] = train_raw[c].astype("category")

### Scratch & exploration (all non-essential code):

In [7]:
train_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null category
MSZoning         1460 non-null category
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null category
Alley            91 non-null category
LotShape         1460 non-null category
LandContour      1460 non-null category
Utilities        1460 non-null category
LotConfig        1460 non-null category
LandSlope        1460 non-null category
Neighborhood     1460 non-null category
Condition1       1460 non-null category
Condition2       1460 non-null category
BldgType         1460 non-null category
HouseStyle       1460 non-null category
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null category
RoofMatl         1460 non-null category
Exterior1st      1460 non-null category
Exterior2nd      1460 non-null category
MasVnrType       1452 non-null category
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null category
ExterCond        1460 non-null category
Foundation       1460 non-null category
BsmtQual         1423 non-null category
BsmtCond         1423 non-null category
BsmtExposure     1422 non-null category
BsmtFinType1     1423 non-null category
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null category
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null category
HeatingQC        1460 non-null category
CentralAir       1460 non-null category
Electrical       1459 non-null category
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null category
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null category
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null category
GarageType       1379 non-null category
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null category
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null category
GarageCond       1379 non-null category
PavedDrive       1460 non-null category
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null category
Fence            281 non-null category
MiscFeature      54 non-null category
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null category
SaleCondition    1460 non-null category
SalePrice        1460 non-null int64
dtypes: category(44), float64(3), int64(34)
memory usage: 496.0 KB

In [8]:
train_raw.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [9]:
# See which columns contain nulls:
null_count = train_raw.isnull().sum()
data = []
for idx,count in null_count[null_count > 0].iteritems():
    percent_null = 100.0 * count / train_raw.shape[0]
    data.append((idx, train_raw[idx].dtype, count, percent_null))
pandas.DataFrame.\
    from_records(data, columns=("Feature", "Type", "NAs", "% NAs")).\
    sort_values(by="NAs", ascending=False).\
    reset_index(drop=True)

         Feature      Type   NAs      % NAs
0         PoolQC  category  1453  99.520548
1    MiscFeature  category  1406  96.301370
2          Alley  category  1369  93.767123
3          Fence  category  1179  80.753425
4    FireplaceQu  category   690  47.260274
5    LotFrontage   float64   259  17.739726
6     GarageType  category    81   5.547945
7    GarageYrBlt   float64    81   5.547945
8   GarageFinish  category    81   5.547945
9     GarageQual  category    81   5.547945
10    GarageCond  category    81   5.547945
11  BsmtExposure  category    38   2.602740
12  BsmtFinType2  category    38   2.602740
13  BsmtFinType1  category    37   2.534247
14      BsmtCond  category    37   2.534247
15      BsmtQual  category    37   2.534247
16    MasVnrArea   float64     8   0.547945
17    MasVnrType  category     8   0.547945
18    Electrical  category     1   0.068493

#### Summarize columns (numerical, then categorical):

In [10]:
stride = 13
for t in (numpy.number, "category"):
    i = 0
    while (i + stride) < train_raw.shape[1]:
        display(train_raw.iloc[:,i:(i+stride)].describe(include=[t]))
        i += stride

                Id  LotFrontage        LotArea
count  1460.000000  1201.000000    1460.000000
mean    730.500000    70.049958   10516.828082
std     421.610009    24.284752    9981.264932
min       1.000000    21.000000    1300.000000
25%     365.750000    59.000000    7553.500000
50%     730.500000    69.000000    9478.500000
75%    1095.250000    80.000000   11601.500000
max    1460.000000   313.000000  215245.000000

       OverallQual  OverallCond    YearBuilt  YearRemodAdd
count  1460.000000  1460.000000  1460.000000   1460.000000
mean      6.099315     5.575342  1971.267808   1984.865753
std       1.382997     1.112799    30.202904     20.645407
min       1.000000     1.000000  1872.000000   1950.000000
25%       5.000000     5.000000  1954.000000   1967.000000
50%       6.000000     5.000000  1973.000000   1994.000000
75%       7.000000     6.000000  2000.000000   2004.000000
max      10.000000     9.000000  2010.000000   2010.000000

        MasVnrArea   BsmtFinSF1   BsmtFinSF2    BsmtUnfSF  TotalBsmtSF
count  1452.000000  1460.000000  1460.000000  1460.000000  1460.000000
mean    103.685262   443.639726    46.549315   567.240411  1057.429452
std     181.066207   456.098091   161.319273   441.866955   438.705324
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000   223.000000   795.750000
50%       0.000000   383.500000     0.000000   477.500000   991.500000
75%     166.000000   712.250000     0.000000   808.000000  1298.250000
max    1600.000000  5644.000000  1474.000000  2336.000000  6110.000000

,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,1162.626712,346.992466,5.844521,1515.463699,0.425342,0.057534,1.565068,0.382877,2.866438
std,386.587738,436.528436,48.623081,525.480383,0.518911,0.238753,0.550916,0.502885,0.815778
min,334.000000,0.000000,0.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,882.000000,0.000000,0.000000,1129.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,1087.000000,0.000000,0.000000,1464.000000,0.000000,0.000000,2.000000,0.000000,3.000000
75%,1391.250000,728.000000,0.000000,1776.750000,1.000000,0.000000,2.000000,1.000000,3.000000
max,4692.000000,2065.000000,572.000000,5642.000000,3.000000,2.000000,3.000000,2.000000,8.000000

,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea
count,1460.000000,1460.000000,1460.000000,1379.000000,1460.000000,1460.000000
mean,1.046575,6.517808,0.613014,1978.506164,1.767123,472.980137
std,0.220338,1.625393,0.644666,24.689725,0.747315,213.804841
min,0.000000,2.000000,0.000000,1900.000000,0.000000,0.000000
25%,1.000000,5.000000,0.000000,1961.000000,1.000000,334.500000
50%,1.000000,6.000000,1.000000,1980.000000,2.000000,480.000000
75%,1.000000,7.000000,1.000000,2002.000000,2.000000,576.000000
max,3.000000,14.000000,3.000000,2010.000000,4.000000,1418.000000

,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753
std,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000
50%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000

,MSSubClass,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood
count,1460,1460,1460,91,1460,1460,1460,1460,1460,1460
unique,15,5,2,2,4,4,2,5,3,25
top,20,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes
freq,536,1151,1454,50,925,1311,1459,1052,1382,225

,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType
count,1460,1460,1460,1460,1460,1460,1460,1460,1452
unique,9,8,5,8,6,8,15,16,4
top,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None
freq,1260,1445,1220,726,1141,1434,515,504,864

,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2
count,1460,1460,1460,1423,1423,1422,1423,1422
unique,4,5,6,4,4,4,6,6
top,TA,TA,PConc,TA,TA,No,Unf,Unf
freq,906,1282,647,649,1311,953,430,1256

       Heating HeatingQC CentralAir Electrical
count     1460      1460       1460       1459
unique       6         5          2          5
top       GasA        Ex          Y      SBrkr
freq      1428       741       1365       1334

,KitchenQual,Functional,FireplaceQu,GarageType,GarageFinish,GarageQual,GarageCond
count,1460,1460,770,1379,1379,1379,1379
unique,4,7,5,6,3,5,5
top,TA,Typ,Gd,Attchd,Unf,TA,TA
freq,735,1360,380,870,605,1311,1326

       PavedDrive PoolQC  Fence MiscFeature
count        1460      7    281          54
unique          3      3      4           4
top             Y     Gd  MnPrv        Shed
freq         1340      3    157          49

In [11]:
# See distributions in categorical columns:
for (name,type_) in train_raw.dtypes.iteritems():
    if type_.name == "category":
        print(train_raw[[name]].groupby(name).size())
        print()

MSSubClass
20     536
30      69
40       4
45      12
50     144
60     299
70      60
75      16
80      58
85      20
90      52
120     87
160     63
180     10
190     30
dtype: int64

MSZoning
C (all)      10
FV           65
RH           16
RL         1151
RM          218
dtype: int64

Street
Grvl       6
Pave    1454
dtype: int64

Alley
Grvl    50
Pave    41
dtype: int64

LotShape
IR1    484
IR2     41
IR3     10
Reg    925
dtype: int64

LandContour
Bnk      63
HLS      50
Low      36
Lvl    1311
dtype: int64

Utilities
AllPub    1459
NoSeWa       1
dtype: int64

LotConfig
Corner      263
CulDSac      94
FR2          47
FR3           4
Inside     1052
dtype: int64

LandSlope
Gtl    1382
Mod      65
Sev      13
dtype: int64

Neighborhood
Blmngtn     17
Blueste      2
BrDale      16
BrkSide     58
ClearCr     28
CollgCr    150
Crawfor     51
Edwards    100
Gilbert     79
IDOTRR      37
MeadowV     17
Mitchel     49
NAmes      225
NPkVill      9
NWAmes      73
NoRidge     41
NridgHt     77
OldTown    113
SWISU       25
Sawyer      74
SawyerW     59
Somerst     86
StoneBr     25
Timber      38
Veenker     11
dtype: int64

Condition1
Artery      48
Feedr       81
Norm      1260
PosA         8
PosN        19
RRAe        11
RRAn        26
RRNe         2
RRNn         5
dtype: int64

Condition2
Artery       2
Feedr        6
Norm      1445
PosA         1
PosN         2
RRAe         1
RRAn         1
RRNn         2
dtype: int64

BldgType
1Fam      1220
2fmCon      31
Duplex      52
Twnhs       43
TwnhsE     114
dtype: int64

HouseStyle
1.5Fin    154
1.5Unf     14
1Story    726
2.5Fin      8
2.5Unf     11
2Story    445
SFoyer     37
SLvl       65
dtype: int64

RoofStyle
Flat         13
Gable      1141
Gambrel      11
Hip         286
Mansard       7
Shed          2
dtype: int64

RoofMatl
ClyTile       1
CompShg    1434
Membran       1
Metal         1
Roll          1
Tar&Grv      11
WdShake       5
WdShngl       6
dtype: int64

Exterior1st
AsbShng     20
AsphShn      1
BrkComm      2
BrkFace     50
CBlock       1
CemntBd     61
HdBoard    222
ImStucc      1
MetalSd    220
Plywood    108
Stone        2
Stucco      25
VinylSd    515
Wd Sdng    206
WdShing     26
dtype: int64

Exterior2nd
AsbShng     20
AsphShn      3
Brk Cmn      7
BrkFace     25
CBlock       1
CmentBd     60
HdBoard    207
ImStucc     10
MetalSd    214
Other        1
Plywood    142
Stone        5
Stucco      26
VinylSd    504
Wd Sdng    197
Wd Shng     38
dtype: int64

MasVnrType
BrkCmn      15
BrkFace    445
None       864
Stone      128
dtype: int64

ExterQual
Ex     52
Fa     14
Gd    488
TA    906
dtype: int64

ExterCond
Ex       3
Fa      28
Gd     146
Po       1
TA    1282
dtype: int64

Foundation
BrkTil    146
CBlock    634
PConc     647
Slab       24
Stone       6
Wood        3
dtype: int64

BsmtQual
Ex    121
Fa     35
Gd    618
TA    649
dtype: int64

BsmtCond
Fa      45
Gd      65
Po       2
TA    1311
dtype: int64

BsmtExposure
Av    221
Gd    134
Mn    114
No    953
dtype: int64

BsmtFinType1
ALQ    220
BLQ    148
GLQ    418
LwQ     74
Rec    133
Unf    430
dtype: int64

BsmtFinType2
ALQ      19
BLQ      33
GLQ      14
LwQ      46
Rec      54
Unf    1256
dtype: int64

Heating
Floor       1
GasA     1428
GasW       18
Grav        7
OthW        2
Wall        4
dtype: int64

HeatingQC
Ex    741
Fa     49
Gd    241
Po      1
TA    428
dtype: int64

CentralAir
N      95
Y    1365
dtype: int64

Electrical
FuseA      94
FuseF      27
FuseP       3
Mix         1
SBrkr    1334
dtype: int64

KitchenQual
Ex    100
Fa     39
Gd    586
TA    735
dtype: int64

Functional
Maj1      14
Maj2       5
Min1      31
Min2      34
Mod       15
Sev        1
Typ     1360
dtype: int64

FireplaceQu
Ex     24
Fa     33
Gd    380
Po     20
TA    313
dtype: int64

GarageType
2Types       6
Attchd     870
Basment     19
BuiltIn     88
CarPort      9
Detchd     387
dtype: int64

GarageFinish
Fin    352
RFn    422
Unf    605
dtype: int64

GarageQual
Ex       3
Fa      48
Gd      14
Po       3
TA    1311
dtype: int64

GarageCond
Ex       2
Fa      35
Gd       9
Po       7
TA    1326
dtype: int64

PavedDrive
N      90
P      30
Y    1340
dtype: int64

PoolQC
Ex    2
Fa    2
Gd    3
dtype: int64

Fence
GdPrv     59
GdWo      54
MnPrv    157
MnWw      11
dtype: int64

MiscFeature
Gar2     2
Othr     2
Shed    49
TenC     1
dtype: int64

SaleType
COD        43
CWD         4
Con         2
ConLD       9
ConLI       5
ConLw       5
New       122
Oth         3
WD       1267
dtype: int64

SaleCondition
Abnorml     101
AdjLand       4
Alloca       12
Family       20
Normal     1198
Partial     125
dtype: int64

In [12]:
le = sklearn.preprocessing.LabelEncoder()
for (name,type_) in train_raw.dtypes.iteritems():
    if type_ != object: continue
    #print(name)
    # Still not quite working:
    #le.fit(train_raw[name].astype("category"))
    #train_raw[name] = le.transform(train_raw[name])

In [13]:
lr = sklearn.linear_model.LogisticRegression()
rfe = sklearn.feature_selection.RFE(lr)
# Requires above cell in order to work (needs to handle categorical vars):
#rfe = rfe.fit(train_raw.iloc[:,:-1], train_raw.iloc[:,-1])